#header .navbar {

	margin-bottom: 0;
}

#floating-covers {

	border-top: 3px solid black;
	border-bottom: 3px solid black;
	width: 100%;
	height: 311px;
	overflow: hidden;
}

#floating-covers ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: black;
}

#floating-covers li {

	display: inline-block;
	margin-bottom: 4px;
}

#floating-covers li img {

	width: 241px;
	height: 150px;
}

#global-search {

	text-align: center;
	height: 120px;
}

#global-search form {

	position: relative;
	top: 25px;
}

#global-search form > * { height: 45px; }

#global-search form input {
	width: 50%;
	display: inline-block;
	background-color: white;
	border-radius: 3px;
	padding-left: 12px;
}

.footer-navigation-links ul {

	list-style: none;
}

.footer-navigation-links ul li {

	display: inline-block;
}

.footer-navigation-links ul li a {

	color: #FFFFFF;
	display: block;
	margin: 3px;
}

#create-account-bar {

	text-align: center;
	height: 120px;
}

#create-account-bar form {

	position: relative;
	top: 25px;
}

#create-account-bar form > * { height: 45px; }

#create-account-bar form input {
	width: 25%;
	display: inline-block;
	background-color: white;
	border-radius: 3px;
	padding-left: 12px;
}

#alerts-box {

	margin-top: 30px;
}

#full-cover {

	position: relative;
	height: 400px;
	width: 100%;
	display: block;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
}

#full-cover > img {

	position: absolute;
	top: calc(-50%);
	z-index: 1;
	width: 100%;
	background: white;
}

#full-cover .container,
#full-cover h3 {

	position: relative;
	z-index: 2;
}


#full-cover h3 {

	font-size: 70px;
	color: black;
	text-align: left;
	top: 50px;
	line-height: 70px;
	text-shadow:
			-1px 0 white,
			0 1px white,
			1px 0 white,
			0 -1px white;
}

#full-cover a:hover {

	text-decoration: none;
}

#movie,
#season-episode { padding: 30px; }

#movie h3,
#season-episode h3 { font-size: 36px; }

#season-episode .description,
#season-episode .bottom-area,
#movie .description,
#movie .bottom-area { padding-top: 30px; }

#season-episode .description ul { padding-top: 30px; }

#star-rating {

	position: relative;
	display: block;
	right: 0;
	font-size: 30px;
	width: 187px;
	height: 40px;
	overflow: hidden;
}

#star-rating .yellow {

	color: #ffce00;
	position: relative;
	top: -42px;
}

#star-rating .yellow > * { display: inline-block; }

footer {

	height: 110px; 
	width: 100%;
	background-color: rgb(24, 24, 24);
	padding: 30px 0 10px 0;
}

.autocomplete-suggestions {

	background-color: #fff;
	padding: 19px;
	margin-bottom: 20px;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	border-radius: 2px;
	border: 0;
	font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 300;
	overflow: auto;
}

.autocomplete-group {

	font-size: 18px;
	margin-bottom: 10px;
	line-height: 1.5;
}

.autocomplete-group strong {

	border-bottom: 1px solid rgba(0,0,0,.1);
	text-transform: none;
	width: 100%;
	display: block;
}

.autocomplete-suggestion {

	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete-selected { background: #F0F0F0; }

#tree-list ul li ul { padding-left: 23px; }

#shows-statuses .list-group .list-group-item {

	padding-top: 5px;
	padding-bottom: 5px;
	height: 100px;
}

#shows-statuses .list-group .list-group-item .row-content .least-content {

	top: 5px;
}

#shows-statuses .list-group .list-group-item .list-group-item-heading {

	width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#statuses .credits,
#statuses .graphics {

	margin-top: 40px;
	margin-bottom: 40px;
}
