#header .navbar {

	margin-bottom: 0;
}

#floating-covers {

	border-top: 3px solid black;
	border-bottom: 3px solid black;
	width: 100%;
	height: 311px;
	overflow: hidden;
}

#floating-covers ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: black;
}

#floating-covers li {

	display: inline-block;
	margin-bottom: 4px;
}

#floating-covers li img {

	width: 241px;
	height: 150px;
}

#global-search {

	text-align: center;
	height: 120px;
}

#global-search form {

	position: relative;
	top: 25px;
}

#global-search form > * { height: 45px; }

#global-search form input {
	width: 50%;
	display: inline-block;
	background-color: white;
	border-radius: 3px;
	padding-left: 12px;
}

.footer-navigation-links ul {

	list-style: none;
}

.footer-navigation-links ul li {

	display: inline-block;
}

.footer-navigation-links ul li a {

	color: #FFFFFF;
	display: block;
	margin: 3px;
}

#create-account-bar {

	text-align: center;
	height: 120px;
}

#create-account-bar form {

	position: relative;
	top: 25px;
}

#create-account-bar form > * { height: 45px; }

#create-account-bar form input {
	width: 25%;
	display: inline-block;
	background-color: white;
	border-radius: 3px;
	padding-left: 12px;
}

#alerts-box {

	margin-top: 30px;
}

#full-cover {

	position: relative;
	height: 200px;
	width: 100%;
	display: block;
	overflow: hidden;
}

#full-cover > img {

	position: absolute;
	z-index: 1;
	width: 100%;
	height: 200px;
	background: white;
}

#full-cover .container,
#full-cover h3 {

	position: relative;
	z-index: 2;
}


#full-cover h3 {

	font-size: 70px;
	color: black;
	text-align: left;
	margin-left: 100px;
	top: 50px;
	line-height: 70px;
}


#movie { padding: 30px; }
#movie h3 { font-size: 36px; }

#movie .description,
#movie .bottom-area { padding-top: 30px; }

#star-rating {

	position: relative;
	display: block;
	right: 0;
	font-size: 30px;
	width: 187px;
	height: 40px;
	overflow: hidden;
}

#star-rating .yellow {

	color: #ffce00;
	position: relative;
	top: -42px;
}

#star-rating .yellow > * { display: inline-block; }

footer {

	height: 110px; 
	width: 100%;
	background-color: rgb(24, 24, 24);
	padding: 30px 0 10px 0;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
